<div id="review_data_outer">

<div id="review_data">
  <div class="slider_wrapper_outer">
<div class="slider_wrapper">
  <ul class='slider slider_{{ template.name }}' id="my_app_slider" data-template="{{ template.name }}">
  </ul>
  <nav id="my_app_slider_btn">
  </nav>
</div>
</div>
</div>

<div id="review__loading">
  <img src="{{'tube-spinner.svg'| asset_url}}" alt="loading"/>
</div>

</div>